name: Build ARM64

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up QEMU for ARM64
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64
      
      - name: Build in ARM64 container
        run: |
          docker run --rm -v $(pwd):/build -w /build \
            --platform linux/arm64 \
            debian:bookworm bash -c '
            apt-get update
            apt-get install -y nodejs npm yarn git jq moreutils gettext build-essential
            make install
            tar czf cockpit-file-sharing-arm64.tar.gz /usr/local/share/cockpit/file-sharing
          '
      
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: cockpit-file-sharing-arm64
          path: cockpit-file-sharing-arm64.tar.gz
